@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
  font-family:arial;

}
* {
	margin: 0;
	padding: 0;
}

.content{
  height:auto;
}

.conatct{
	background-color:#8c001A;
}


.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f1f1f1f1;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-menu a{
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover{
  background-color: #ddd;
  color: #000;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.btn-header{
  background-image: linear-gradient(to right top, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703);
}

.header{
  height:100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) ), url('../images/water2.jpeg');
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;

}

.bg-color{
  background-image: linear-gradient(to right top, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703);
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;

}
.transparent{
background-image: linear-gradient(to right top, #02233d, #191c33, #1f1727, #1e131c, #1a1014, #1f151a, #241a20, #291f26, #342f40, #30435b, #1a596e, #036f74);
}
nav ul li{
  display: inline-block;
  margin:0 0px 0px;
	font-size: 14px;


}
nav li a{
	font-size: 16px;
	font-family: arial;

}
nav li a:hover{
	color: white;
	text-decoration-line:none;
	border-bottom: solid 2px cyan;
}
li a{
  list-style-type: none;
  text-decoration: none;
  color:white;
  font-family:arial;
}
ul{
	float:left;
  margin-top:10px;
}
li a{
  margin: 10px 10px;
  font-size:19px;
}


.intro{
	font-size:54px;
	color: #000;
}


.intro span{
  background-image: linear-gradient(to right top, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703);	color:#fff;
	padding-top: 2px;
	padding-bottom: 2px;
  font-weight: bold;
  padding-left:1%;
  padding-right: 1%;

}

.fab{
	color:white;
  margin-top:3%;
}
.volunteer{
background-image: linear-gradient(to right top, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703);  padding-top:1%;
  padding-bottom: 1%;
}
.style3:hover{
  background-color:#8c001A;
}
.volunteer a{
	background-color: black;
	color: white;
}

.block{
	float: left;
	width: 100%;
	padding: 100px 0;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom:100px;
	padding-left: 0px;
	position: relative;
}

.title {
    text-align: center;
    margin: 0 0 60px;
}

.title span {
    font-size: 14px;
    color: #718289;
    text-transform: uppercase;
    margin: 0 0 10px;
    display: inline-block;
}
.title h4 {
    font-size: 25px;
    color: #2f2f2f;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1;
    font-weight: 600;
}

/* causes */
@media (max-width: 980px){
.modern-causes .row {
    display: unset;
    flex: none;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}}

@media (max-width: 767px){
.modern-causes .row > div {
    width: 100%;
}}

@media (max-width: 980px){
.modern-causes .row > div {
    flex: none;
    max-width: none;
    text-align: left;
    width: 50%;
    display: inline-block;
    margin: 0 -1px;
}}

.modern-cause {
    float: left;
    width: 100%;
    margin: 0 0 55px;
    background: #FFF;
    text-align: center;
}

.modern-cause h4 {
    font-size: 16px;
    font-weight: 500;
    float: left;
    width: 100%;
    padding: 0 10px;
    margin: 0 0 20px;
}

.modern-cause span {
    font-size: 13px;
    color: #2f2f2f;
    font-weight: 600;
    float: left;
    width: 100%;
    margin: 0 0 25px;
}

.btn.round {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
background-image: linear-gradient(to right top, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703);}

.cause{
  color: black;
  text-decoration: none;
  list-style-type: none;
}
/* end of causes */

/* adoption */
.title h2 {
    font-size: 30px;
    color: #2f2f2f;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1;
    font-weight: 600;
}

.title p {
    margin: 20px 0 30px;
}
.title.style2 p {
    color: #666666;
    font-size: 15px;
    line-height: 1.8;
    font-family: 'arial';
    margin-bottom: 20px;
}
.button-set .btn {
    display: inline-block;
    margin: 0 20px 0 0;
background-image: linear-gradient(to right top, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703, #741703);    color: white;

}
/* end of adoption */


/* carousel slider */
.carousel-item{
    height: 400px;
}
.carousel-item img{
    height: 400px;
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.fancy-event-details {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 30px 30px 30px;
    width: 60%;
    color: #000;
}

.overlay span{
  padding-top: 2%;
  background-color:#8c001A;
  color: white;
  padding-left: 1%;
  padding-right: 1%;
  margin-top:3%;
}


.full {
  background: url('../images/education1.jpeg') 0 0 no-repeat;
  min-height: 634px;
  background-position: center;
  color: black;
  color: black;
}
.half {
  background: url('../images/child7.jpg') 0 0 no-repeat;
  min-height: 301px;
  margin-bottom: 30px;
}
.half2 {
  background: url('../images/child8.jpg') 0 0 no-repeat;
  min-height: 301px;
}
.full, .half, .half2 {
  background-size: cover;
  position: relative;
}

.full .overlay-effect, .half .overlay-effect, .half2 .overlay-effect {
  opacity:0.8;
  cursor: pointer;
  background-color: black;
}


.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(259, 67, 95, 0.7);
  overflow:hidden;
}
.overlay-effect span{
  background-color: #a4343a;
  margin-top:5%;
  margin-left:6%;
}
}
.full a,
.half a,
.half2 a {
  color: #fff;
}

.full h3,
.half h3,
.half2 h3 {
  padding: 15px 30px;
}

@media screen and (max-width: 768px) {
  .full, .half, .half2 {margin-bottom: 10px;}
}

.fancy{
  margin-top: 10%;

}
.fancie{
  margin-top:60%;
}
.fancie a{
  font-size: 22px;
  color: #FFF;
  font-weight: 400;
  margin: 0 0 10px;
}
.fancie a:hover{
  color:#fff;
  text-decoration-line: none;
}
.fancy a{
    font-size: 22px;
    color: #FFF;
    font-weight: 400;
    margin: 0 0 10px;
}
.fancy a:hover{
  color:#fff;
  text-decoration-line: none;
}

.fancy-event-detail i {
    font-size: 13px;
    color:#d9d9d9;
    font-style: normal;
    font-family: arial;
    font-weight: 400;
    margin-left:6%;
}

/* Video section */
.video-overlay span{
  color: #a4343a;
  font-size: 30px;
}
.video-overlay h3{
  font-size:50px;
  line-height: 2;
}
.bg-7{
  background-image: url('../images/parallax7.jpg');
  height: 100vh;
  background-repeat: no-repeat;

}
.video-overlay .round-icon-btn {
    position: relative;
    display: inline-block;
    left: auto;
    top: auto;
    transform: none;
}

/* end of video section */

/* footer section*/
#footer {
background-color:#2e2e2e;
color: #fff;
float:left;
width: 100%;
font-family:arial;
padding-bottom: 5%;
}

.about-widget p{
  font-size: 12px;
  margin-top: 2%;
}

@media (max-width: 980px){
footer .widget {
    margin: 0 0 30px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}
}

.widget {
    float: left;
    width: 100%;
}


.widget-title {
    font-size:18px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 30px;
    margin-top: 5%;
}

footer .widget ul {
    margin: 0;
}
ul {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
}

footer .widget ul li {
    padding: 0;
    color: #848484;
    margin: 0 0 10px;
}
.widget li a {
    color:white;
    font-size:13px;
    margin-bottom: 15px;
    padding-left: 25px;
    position: relative;
}


@media (max-width: 980px){
footer .widget {
    margin: 0 0 30px;
}
}

footer .widget ul li {
    padding: 0;
    color:whitesmoke;
    margin: 0 0 10px;
    font-size: 13px;
}


.copyright{
	font-size: 13px;
}

.line{
	background-color: white;
}
/* end of footer section */





@media screen (max-width:480px){
  .intro{
    font-size:16;
  }
}
