{% extends 'base.html' %}


    {% block content %}
    <div class="container-fluid overlay text-white pb-5 pt-5 ">
    <div class="row mb-5 pb-5 pt-5">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        {% if careers %}
          {% for career in careers %}
            <h4>{{career.position}}</h4>
            <p>{{career.description}}</p>
            <p>{{career.requirements}}</p>
            <p>{{career.instruction}}</p>
          {% endfor %}
        {% else %}
          <div class="conatiner mt-5 mb-5 pb-5">
            <div class="row">
              <div class="col-md-12 text-center careers">
                <p style="font-size:25px;"><i>There are currently no careers</i></p>
                <p>Send us your resume and we'll contact you incase of any openings, Thank you.</p>
                <p>Email:<span class="text-white"><a class="text-white" href="https://www.gmail.com">info@jvf-kenya.org</a></span></p>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
    {% endblock %}
